<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Please Log In</title>
</head>
<body>
<div style="text-align:center; margin-top: 100px;">
  <h1>LOG IN SUCCESS, HELLO
    <span th:text="${session.get('SPRING_SECURITY_CONTEXT').Authentication.Principal.Username}"></span>
  </h1>
<!--  <h4>-->
<!--    <span th:text="${session.get('SPRING_SECURITY_CONTEXT')}"></span>-->
<!--  </h4>-->
  <h4 th:if="${param.access_denied}">
    You don't have the authority to go that page.
  </h4>
  <button onclick="location.href='/security/only_member'">security/only_member</button>
  <button onclick="location.href='/security/only_admin'">security/only_admin</button>
  <hr>
  <form th:action="@{/security/logout}" method="post">
    <input type="submit" value="LOGOUT">
  </form>
  <hr>
  <input type="button" value="MEMBER LIST" onclick="location.href='/member/list'"/>
  <input type="button" value="WEB SOCKET" onclick="location.href='/socket/chat'"/>
  <input type="button" value="BOARD LIST" onclick="location.href='/board/list'"/>
</div>
<hr>
<div style="text-align: center;">
  <a href="http://localhost:3000/api/data/">/api/data</a>
  <a href="http://localhost:3000/">/</a>
</div>
<hr>
<div style="text-align: center; font-size: 5pt;" th:each="item : ${showFileInDirList}">
  <p th:text="${item}"></p>
</div>
<hr>
<div style="text-align: center; font-size: 5pt;" th:each="item : ${LoggingList}">
  <p th:text="${item}"></p>
</div>


</body>
</html>