<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Please Log In</title>
</head>
<body>
<div style="text-align:center; margin-top: 100px;">
  <h1>LOG IN SUCCESS, HELLO
    <span th:text="${session.get('SPRING_SECURITY_CONTEXT').Authentication.Principal.Username}"></span>
  </h1>
  <button onclick="location.href='/security/only_member'">security/only_member</button>
  <button onclick="location.href='/security/only_admin'">security/only_admin</button>
  <hr>
  <form th:action="@{/security/logout}" method="post">
    <input type="submit" value="LOGOUT">
  </form>
</div>
<div style="text-align: center;" th:each="item : ${LoggingList}">
  <p th:text="${item}"></p>
</div>


</body>
</html>