<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="text-align: center;">
    <h1>MEMBER UPDATE</h1>
    <hr>
    <form action="/member/Update.do" method="post">
        <input type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}" />
        <input type="hidden" name="memberIdx" th:value="${member.memberIdx}"/>
        <input type="text" name="username" th:value="${member.username}"><br>
        <input type="text" name="realName" th:value="${member.realName}"><br>
        <input type="text" th:value="${member.phoneNumber}" name="phoneNumber"/><br>
        <input type="text" th:value="${member.email}" name="email"/><br>
        <input type="text" th:value="${member.age}" name="age"/><br>
        <input type="text" th:value="${member.userRole}" name="userRole"/><br>
        <input type="button" onclick="location.href='/member/list'" value="GO TO LIST">
        <input type="submit" value="UPDATE"/>
    </form>




</body>
</html>