<html>
<head></head>
<body>
<form action="/login_action" method="post">
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="submit" value="LOGIN">
</form>
</body>
</html>
